<a href="https://colab.research.google.com/github/rebecaalvesp/Aula-programa-o1/blob/main/Aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
numeros = [30, 25 , 4 ,6]
numeros

[30, 25, 4, 6]

In [3]:
#tamanho de uma lista
len(numeros)

4

In [4]:
#Indices = [30, 25 , 4 ,6]
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])

30
25
4
6

In [6]:
#Lista de alunos
alunos = [ 'Karol, Ivone, Pedro, Lucas ']
alunos

['Karol, Ivone, Pedro, Lucas ']

In [12]:
#Alterar os valores de itens da lista 
alunos[0] = 'Karol'

In [13]:
#adiciona o valor
alunos.append('Lucca')
alunos

['Karol', 'Lucca']