<a href="https://colab.research.google.com/github/rebecaalvesp/Aula-programa-o1/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nomes = ['ze', 'tião','joaquim']
nomes.append('julia')
nomes

#vários valores
outrosNomes = ['Ana', 'Zabé', 'Maria']
nomes.extend(outrosNomes)

nomes

['ze', 'tião', 'joaquim', 'julia', 'Ana', 'Zabé', 'Maria']

In [2]:
#remove-Remove o primeiro elemento
#pop- Remove o último elemento

In [3]:
numeros = [5, 8, 9, 15, 30]
numeros.remove(numeros[0])
numeros.pop()
numeros

[8, 9, 15]

In [6]:
#Crie uma lista de notas,e exiba-a da menor para a maior nota 
notas = [2,10,9,4,7,3,8]
nomes = ['Ademar', 'Maristênio', 'Adebal', 'Leo']
notas.sort()
nomes.sort(reverse=True)

In [7]:
#Exemplo função map - cria uma nova lista com o dobro
numeros = [2,4,6,3]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[4, 8, 12, 6]

In [8]:
#Pegar cada um dos números e dividir por 3
numeros = [6,9,12,30]
numDivi = list(map(lambda x : x/3, numeros))

numDivi

[2.0, 3.0, 4.0, 10.0]

In [9]:
#Soma
numeros = [5,12,96,102]
numSoma = list(map(lambda x : x+2, numeros))

numSoma

[7, 14, 98, 104]

In [10]:
#Função filter

nomes = ['José', 'João', 'Sebastiao', 'Angelica', 'leonardo']

new_list = list(filter(lambda x : len(x)>5,nomes))
new_list

['Sebastiao', 'Angelica', 'leonardo']

In [11]:
#Criar uma lista de notas, imprime as maiores que 6

notas = [2,9,7,3,1,10,6]
new_notas = list(filter(lambda x : int(x)>6, notas))
new_notas

[9, 7, 10]

In [12]:
#Exercicio 1
numeros = [2,4,6,8,12]
num_quadrado = list(map(lambda x : x**2, numeros))
num_quadrado

[4, 16, 36, 64, 144]

In [13]:
#Exercicio 2
nomes = ['Maria', 'Claudionor', 'Larissa', 'Julio']
new_nomes = list(map(lambda x: len(x), nomes))
new_nomes

[5, 10, 7, 5]

In [14]:
#Exercicio 3
numeros = [3,1,6,0,12]
numerosPares = list(filter(lambda x: x%2==0, numeros))
numerosPares

[6, 0, 12]

In [15]:
#Exercicio 4
nomes = ['Abigail', 'Larissa', 'Andre', 'Pedro']
listanomes = list(filter(lambda x: x[0] == 'A', nomes))
listanomes

['Abigail', 'Andre']

In [2]:
#Exercicio 5
notas = [6, 4,7,9,10]
notas_altas = list(filter(lambda x: x>6 , notas))
notas_altas

[7, 9, 10]

In [7]:
#Exercicio 6
nomes = ['Ingrid', 'Luan', 'Paulo', 'Flavio', 'Ariel','Andressa', 'Igor']
nomescom_vogais = list(filter(lambda x: x[0]. upper() in 'AEIOU', nomes))
nomescom_vogais

['Ingrid', 'Ariel', 'Andressa', 'Igor']

In [23]:
#Exercicio 7
lista_numeros = [2, 3, 15, 30, 23, 60, 45 ]
numeros = list(filter(lambda x: x%3 == 0 and  x%5== 0, lista_numeros))
numeros

[15, 30, 60, 45]

In [34]:
#Exercicio 8
nomes = ['Deus', 'lucas', 'Jose', 'Marisandra', 'Felipe','josue','carro']
new_List = list(filter(lambda x : x[0].isupper(), nomes))
new_List

['Deus', 'Jose', 'Marisandra', 'Felipe']